<div class="row">
    <div class="col-md-12">
        <div class="toggle toggle-primary" data-plugin-toggle>
            {% set countRow = 1 %}
            {% for row in rows %}

                {% set activeRow = '' %}
                {% if countRow == 1 %}
                    {% set activeRow = 'active' %}
                {% endif %}

                <section class="toggle {{ activeRow }}">
                    {{ row.content }}
                </section>

                {% set countRow = countRow + 1 %}
            {% endfor %}
        </div>
    </div>
</div>