<div class="row">
    <ul class="products product-thumb-info-list">
        {% for row in rows %}
            <li class="col-sm-3 col-xs-12 product">
                {{ row.content }}
            </li>
        {% endfor %}
    </ul>
</div>