<div class="container">
    <div class="row">
        <div class="sort-destination-loader sort-destination-loader-showing overlay-content-white">
            <ul id="portfolioLoadMoreWrapper" class="portfolio-list sort-destination" data-sort-id="portfolio" data-total-pages="3">
                {% for row in rows %}
                    {{ row.content }}
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-12">

            <input type="hidden" id="portfolioShowNumber" value="4"/>

            <div id="portfolioLoadMoreLoader" class="portfolio-load-more-loader">
                <div class="bounce-loader">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>

            <button id="portfolioLoadMore" type="button" class="btn btn-3d btn-default btn-lg btn-block font-size-xs text-uppercase outline-none p-md mb-xl btn-ajax-more">Load More...</button>
        </div>
    </div>
</div>