<div class="sort-destination-loader sort-destination-loader-full-width sort-destination-loader-showing">
    <ul class="portfolio-list sort-destination full-width mb-xl" data-sort-id="portfolio">
        {% for row in rows %}
            {{ row.content }}
        {% endfor %}
    </ul>
</div>