<div class="row">
    <div class="sort-destination-loader sort-destination-loader-showing">
        <ul id="portfolioPaginationWrapper" class="portfolio-list sort-destination" data-sort-id="portfolio" data-items-per-page="8">
            {% for row in rows %}
                {{ row.content }}
            {% endfor %}
        </ul>
    </div>
</div>