{% set thumbnail = node.field_thumbnail %}
<div class="col-md-2 col-xs-6 center mb-lg">
    <img src="{{ file_url(thumbnail.entity.fileuri) }}" class="img-responsive" alt="">
    <h5 class="mt-sm mb-none">{{ label }}</h5>
    <p class="mb-none">{{ content.field_team_job | render | striptags }}</p>
</div>
