<div>
    <div class="col-md-12">
        <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
            {% if fields.field_thumbnail %}
            <div class="testimonial-author border-img">
                {{ fields.field_thumbnail.content }}
            </div>
            {% endif %}
            {% if fields.body %}
                <blockquote>
                    {{ fields.body.content }}
                </blockquote>
            {% endif %}
            <div class="testimonial-author">
                <p><strong>{{ fields.title.content }}</strong>
                    {% if fields.field_testimonial_info %}
                        <span>{{ fields.field_testimonial_info.content }}</span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>