
{% for key, item in items %}
    {% set link = file_url(item.content['#item'].entity.fileuri) %}
    <div>
        <img alt="" class="img-responsive img-rounded" src="{{ link }}">
    </div>
{% endfor %}