{% if header %}
    {{ header }}
{% endif %}
<div class="owl-carousel owl-theme" data-plugin-options='{"items": 1, "margin": 10, "animateOut": "fadeOut", "autoplay": true, "autoplayTimeout": 3000}'>
  {{ rows }}
</div>